<form [formGroup]="todeoForm">
    <input type="text" formControlName="name" [class.error]="nameError" /><br />
    <div *ngIf="nameError">
      {{name.errors | json}}
      <span *ngIf="name.errors.required">This value is required</span>
    </div>
    <input type="text" formControlName="password" /><br />
    {{passwordcontrol.errors | json}}
    <br/>
    <br/>
    
    <h3>form Array example</h3> <button (click)="addikescontrol()">addikescontrols</button>
    <span formArrayName="likes">
      <div *ngFor="let like of getmorecontrols.controls; let i=index">
        <!-- The repeated alias template -->
        <label>
          Alias:
          <input type="text" [formControlName]="i">
        </label>
      </div>
    </span>
    <br/>
    <br/>
    
    <h3>form object Array example</h3> <button (click)="addmoreAddress()">addmoreAddress</button>
    <span formArrayName="addressarray">
      <div *ngFor="let like of getaddressarray.controls; let i=index">
        <!-- The repeated alias template -->
        <label [formGroupName]="i">
          <input type="text" formControlName="line1">
          <input type="text" formControlName="line2">
        </label>
      </div>  
    </span>
    <br/>
    <div formGroupName="address">
      <input type="text" formControlName="line1" /><br />
      {{line1.errors | json}}
      <input type="text" formControlName="line2" /><br />
      <div formGroupName="line3">
        <input type="text" formControlName="pincode" /><br />
        <div formGroupName="phone">
          <input type="text" formControlName="mobile" /><br />
        </div>
      </div>
    </div>
    <button (click)="mysubmit()">my button</button>
  </form>