<form [formGroup]="loginForm">
    <input type="text" formControlName="name" /><br />
    <span formArrayName="phone">
        <div *ngFor="let like of phoneControlArray.controls; let i=index">
           Number {{i}}<input type="text"  [formControlName]="i" /><br />
        </div>
        <button (click)="addMorePhone()">more phone</button>
    </span>
    <button (click)="addAddress()">add more Address</button>
    <span formArrayName="address">
      <div *ngFor="let like of addressControlArray.controls; let i=index">
        <!-- The repeated alias template -->
        <label [formGroupName]="i">
          <input type="text" formControlName="line1">
          <input type="text" formControlName="line2">
          <input type="text" formControlName="pincode">
        </label>
      </div>  
    </span>
    <br/>
    <button (click)="submit()">Click</button>
</form>